<nav class="navbar navbar-expand-lg navbar-light bg-warning">
   <div class="container-fluid">
     <a class="navbar-brand landing" href="#">MissionTest</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
       <form class=" justify-content-start d-flex">
        <!-- <button class="btn btn-outline-success me-2" type="button" *ngIf="!isUserlogin" routerLink="/register">Register</button> -->
        <button type="button" class="btn btn-outline-success me-2" data-dismiss="modal" data-bs-toggle="modal" data-bs-target="#registerModal" *ngIf="!isUserlogin">
          Register
        </button>
        
        <button type="button" class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#loginModal" routerLink="/home" *ngIf="!isUserlogin">
          Login
        </button>
        <button class="btn btn-sm btn-outline-secondary" type="button" *ngIf="isUserlogin"  routerLink="/home"  (click)="onLogout()">LogOut</button>

      </form> 
     </div>
   </div>
 </nav>
<router-outlet></router-outlet>
 <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align:center" id="loginModalLabel" >WelCome!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Please Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-register></app-register>
      </div>
      
    </div>
  </div>
</div>
